 .status-indicators {
	display: flex;
	list-style: none;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	align-content: space-between
}
.status-indicators__indicator {
	width: 108px;
	margin: 0 auto;
	padding: 0 10px;
}
