:host {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}


.grid-zone {
	grid-column-start: auto;
	grid-column-end: auto;
	grid-row-start: auto;
	grid-row-end: auto;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}


.grid-zone__label {
	flex: none;
	background: rgba(20, 31, 44, 1);
	padding: 10px;
	color: white;
	font-size: 1.2rem;
	flex-flow: row nowrap;
	justify-items: start;
	align-items: center;
	display: flex;
	justify-content: start;
}

.grid-zone__content {
	overflow: hidden;
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	position: relative;
}
.rux-form-field input {
	box-sizing: border-box;
	width: 100%;
	padding: 0.5rem;
	border: 1px solid var(--inputBorderColor, transparent);
	border-radius: 3px;

	font-size: var(--fontSize, 1rem);
	color: var(--inputTextColor, rgb(0, 0, 0))
}
.subsystem-table__filters,
.rux-form-field-div-search {
	display: inline-flex;
	z-index: 10;
	margin-left: auto;
	padding-right: .5rem;
}

.rux-form-field input[type='search'] {
	/*
		When overriding an element that has a shadowDOM it’s often the case you need to explicitly
		disable the default styling of the element for each browser
	*/

	-webkit-appearance: none;
	display: block;
	height: 1.625rem;
	width: 18rem;
	/*
		Data-uri encode, Polymer sometimes chokes on ASCII escaped, but usually only when it
		encounters a parenthesis.
	*/
	background: no-repeat center left 0.3rem/1.1em url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013%2013%22%3E%0A%20%20%3Cg%20fill%3D%22%230973C1%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9%208c2.21%200%204-1.79%204-4s-1.79-4-4-4-4%201.79-4%204%201.79%204%204%204zm0-1a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-4.707.293l1.414%201.414-4%204-1.414-1.414%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6.33%205.67l1%201-3.66%203.66-1-1%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E") #fff;
	padding: 0.5rem 0.5rem 0.5rem 1.75rem;
	margin-right: 1rem;
	margin-top: 1px;
}



.measurand-log {
	display: flex;
	flex-flow: column;
	font-size: 0.9rem;
	width: 100%;
}

.measurand-log-header {
	display: flex;
	flex: none;
	flex-wrap: wrap;
	position: relative;
	justify-content: space-between;
	border-bottom: 1px solid
		var(--logHeaderBackgroundColor, rgb(20, 32, 44));
	box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.25); /* perhaps just when scroll isn't at top? */
}

.measurand-log__header-labels {
	display: flex;
	flex-grow: 1;
	color: var(--logHeaderTextColor, rgb(169, 178, 188));
	font-weight: bold;
	flex-shrink: 0;
	align-content: flex-start;
	align-items: flex-start;
	padding: 0.5rem 1.75rem 0.5rem 0.5rem;
	border: 1px solid rgba(255, 255, 255, 0.0625);
	border-width: 1px 0;
}
.measurand-log__header-labels [data-sort-by] {
	cursor: pointer;
}
.measurand-log__header-labels [data-sort-active] {
	color: #5cb3ff;
}
.measurand-log__header-labels [data-sort-active]:after {
	content: '';
	display: inline-flex;
	width: 0;
	height: 9px;
	border-color: #5cb3ff;
	border-top: 6px solid #5cb3ff;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin-left: .125rem;
}

.measurand-log__header-labels .measurand-log__measurand__status {
	text-align: left;
}

.measurand-log__measurands {
	padding: 0;
	margin: 0;
	list-style: none;
	height: 100%;
	min-height: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.measurand-log__measurand {
	display: flex;
	align-content: flex-start;
	flex-shrink: 0;
	align-items: flex-start;
	padding: 0.5rem;
	background: #1d2f41;
	border-bottom: 2px solid rgba(12, 21, 29, .5);
}

.measurand-log__measurand:last-child {
	border-bottom: none;
}

.measurand-log__measurand__status,
.measurand-log__measurand__mnemonic,
.measurand-log__measurand__measurement,
.measurand-log__measurand__value,
.measurand-log__measurand__unit,
.measurand-log__measurand__watched {
	flex: auto;
	text-align: left;
	padding: 0 .7rem 0 .5rem;
	align-self: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.measurand-log__measurand__status 		 { flex: 0 1 6rem; }
.measurand-log__measurand__mnemonic 	 { flex: 0 1 7rem; }
.measurand-log__measurand__measurement { flex: 1 1 15rem; }
.measurand-log__measurand__value 			 { flex: 0 1 5rem; }
.measurand-log__measurand__unit 			 { flex: 0 1 10rem; }
.measurand-log__measurand__watched 		 { flex: 0 1 11rem; }


.measurand-log__measurand__watched .rux-checkbox {
	display: inline-flex;
	margin: 0 0.25rem;
	font-style: italic;
	font-weight: bold;
}
.measurand-log__measurand__watched label {
	line-height: 1.4rem;
}
.measurand-log__measurand__status {
	text-align: center;
}
.measurand-log__measurand__status rux-status {
	display: inline-flex;
}
.measurand-log__filter-enabled {
	flex-grow: 1;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	left: 0;
	align-content: center;
	background-color: var(--colorPrimaryDarken1, rgb(0, 68, 107));
	color: var(--colorPrimaryLighten3, rgb(211, 234, 255));
	padding: 0.5rem;
	text-align: center;
	width: 100%;
}
.measurand-log__filter-enabled a {
	color: var(--white, rgb(255, 255, 255));
	cursor: pointer;
	text-decoration: underline;
	font-weight: 500;
}


