<div class="grid-zone subsystem-table">
	<div class="grid-zone__label">
		[[ label ]] ({{ measurands.length }})
		
		<div class="rux-form-field-div-search">
			<div class="rux-form-field search">
				<input class="rux-form-field__text-input search" placeholder="e.g., 'Power', 'Heater', etc." type="search" value={{stringFilter::input}} />
			</div>
			<div class="subsystem-table__filters">
				<rux-segmented-button data={{filters}}></rux-segmented-button>
			</div>
		</div>
	</div>  
	<div class="grid-zone__content">
		<div class="measurand-log">
			<header class="measurand-log-header">
				<div class="measurand-log__header-labels">
					<div class="measurand-log__measurand__status" 
						on-click="handleChangeSort" data-sort-by="status" data-sort-active$="[[ is(sortBy,'status') ]]">
						Severity
					</div>
					<div class="measurand-log__measurand__mnemonic" 
						on-click="handleChangeSort" data-sort-by="mnemonic" data-sort-active$="[[ is(sortBy,'mnemonic') ]]">
						Mnemonic
					</div>
					<div class="measurand-log__measurand__measurement" 
						on-click="handleChangeSort" data-sort-by="measurement" data-sort-active$="[[ is(sortBy,'measurement') ]]">
						Measurement
					</div>
					<div class="measurand-log__measurand__value"
						on-click="handleChangeSort" data-sort-by="value" data-sort-active$="[[ is(sortBy,'value') ]]">
						Value
					</div>
					<div class="measurand-log__measurand__unit">
						Unit
					</div>
					<div class="measurand-log__measurand__watched"
						on-click="handleChangeSort" data-sort-by="watched" data-sort-active$="[[ is(sortBy,'watched') ]]">
						Watching ([[ numWatched ]]) 
					</div>
				</div>
		
				<template is="dom-if" if="{{!is(renderedItemCount,measurands.length)}}">
					<div class="measurand-log__filter-enabled">
						<div>
							You have one or more filters enabled, showing {{ renderedItemCount }} of {{measurands.length}} total items. <br />
							<a on-click="clearFilters">Clear filters</a> to display all measurands.
						</div>
					</div>
				</template>
			</header>
		
			<ol class="measurand-log__measurands">
				<template is="dom-repeat" id="measurandLogData" items="{{measurands}}" as="measurand" 
					filter="{{applyFilters(filters.selected.value, stringFilter)}}"
					sort="{{sortFn}}"
				 	rendered-item-count="{{renderedItemCount::dom-change}}" notify-dom-change mutable-data>
					<li class="measurand-log__measurand">
						<div class="measurand-log__measurand__status">
							<rux-status status="[[measurand.status]]"></rux-status>
						</div>
						<div class="measurand-log__measurand__mnemonic">
							[[ measurand.mnemonic ]]
						</div>
						<div class="measurand-log__measurand__measurement">
							[[ measurand.measurement ]]
						</div>
						<div class="measurand-log__measurand__value">
							[[ measurand.value ]]
						</div>
						<div class="measurand-log__measurand__unit">
							[[ measurand.unit ]]
						</div>
						<div class="measurand-log__measurand__watched">
							<div class="rux-checkbox">
								<input checked$="{{measurand.watched::change}}" type="checkbox" name="{{measurand.mnemonic}}" id="{{measurand.mnemonic}}" />
								<label for="{{measurand.mnemonic}}" on-click="toggleWatched" watched$="[[measurand.watched]]"></label>
							</div>
						</div>
					</li>
				</template>
			</ol>
		</div>
	</div>
</div>