

:host {
	--gridGutter: .5rem;
	--rightPaneWidth: 24vw;
	--appMenuDefault: #455D6E;
	--appMenuActive: #FFF;
}

.grid-zone {
	grid-column-start: auto;
	grid-column-end: auto;
	grid-row-start: auto;
	grid-row-end: auto;
	position: relative;
	overflow: hidden;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
}

.grid-zone--header {
	grid-area: header;
}
.grid-zone--subheader {
	grid-area: subheader;
}

.grid-zone--sidebar-outer {
	grid-area: sidebar-outer;
}
.grid-zone--sidebar-inner {
	grid-area: sidebar-inner;
}

.grid-zone--main {
	/* padding: var(--gridGutter); */
	border-left: 1px solid rgba(255,255,255, .125);
	display: flex;
	flex-flow: row nowrap;
}

.grid-zone--main__content {
	display: flex;
	flex-flow: column;
	height: 100%;
	flex: 2 0;
	min-width: 0;
	width: 100%;
}


.grid-zone--main__content__upper {
	display: flex;
	flex-flow: row nowrap;
	border-bottom: 1px solid rgba(255,255,255, .125);
	/* margin-bottom: var(--gridGutter); */
	padding: 0;
	height: 65vh;
}

.grid-zone--main__content__lower {
	display: flex;
	flex-flow: row nowrap;
	height: 45vh;
}


.grid-zone__label {
	flex: none;
	background: rgba(20, 31, 44, 1);
	padding: 10px;
	color: white;
	font-size: 1.2rem;
	flex-flow: row nowrap;
	justify-items: start;
	align-items: center;
	display: flex;
	justify-content: start;
}

.grid-zone__content {
	overflow: hidden;
	display: flex;
	flex-flow: row;
	flex-grow: 1;
	position: relative;
}

/* Grid containers */
.app-grid {
	background: rgb(26, 40, 56);
	display: grid;
	/* width: 100vw; */
	height: 100vh;
	padding: 0 0 /*2vh*/;
	grid-column-gap: 0;
	grid-row-gap: 0;
	grid-template-rows: fit-content(100%) fit-content(100%) auto;
	grid-template-columns: 14rem 14rem auto;
	grid-template-areas:
		"header header header"
		"subheader subheader subheader"
		"sidebar-outer sidebar-inner main";
}

	.rux-form-field .search {
		/*
		When overriding an element that has a shadowDOM it’s often the case you need to explicitly
		disable the default styling of the element for each browser
	*/

	-webkit-appearance: none;
	display: block;
	height: 1.625rem;
	/*
		Data-uri encode, Polymer sometimes chokes on ASCII escaped, but usually only when it
		encounters a parenthesis.
	*/
	background: no-repeat center left 0.3rem/1.1em url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2013%2013%22%3E%0A%20%20%3Cg%20fill%3D%22%230973C1%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%3Cpath%20d%3D%22M9%208c2.21%200%204-1.79%204-4s-1.79-4-4-4-4%201.79-4%204%201.79%204%204%204zm0-1a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-4.707.293l1.414%201.414-4%204-1.414-1.414%22%2F%3E%0A%20%20%20%20%3Cpath%20d%3D%22M6.33%205.67l1%201-3.66%203.66-1-1%22%2F%3E%0A%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E") #fff;
	padding: 0.5rem 0.5rem 0.5rem 1.75rem;
	}


	/* There’s a red outline here, because this shouldn’t be how the timeline width is defined 
	rux-timeline {
		outline: 1px solid red;
		width: 100vw !important;
	} */



	.rux-global-status-bar .app-meta {
		padding-left: 20px;
		display: grid;
		grid-column-gap: 10px;
		grid-row-gap: 10px;
		grid-template-rows: auto;
		grid-template-columns: auto;
		grid-template-areas:
			"icon appname"
			"icon username";
	}	
	.rux-global-status-bar .app-meta:hover {
		cursor: pointer;
	}
	.rux-global-status-bar .app-meta__icon {
		grid-area: icon;
		fill: var(--appMenuDefault);
	}
	.rux-global-status-bar .app-meta:hover .app-meta__icon,
	.rux-pop-up-menu[opened] ~ .rux-global-status-bar .app-meta .app-meta__icon {
		fill: var(--appMenuActive);
	}
	.rux-global-status-bar .app-meta h1 {
		grid-area: appname;
		font-size: 28px;
		margin: 0;
		line-height: 28px;
		text-transform: uppercase;
		color: #FFF;
	}

	.rux-global-status-bar .app-meta h1 span {
		font-weight: 600;
		margin-right: 10px;
	}

	.rux-global-status-bar .app-meta__username {
		grid-area: username;
		font-size: 12px;
		line-height: 12px;
		
	}

  .rux-global-status-bar .rux-clock {
	}
	.rux-global-status-bar .status-indicators {
		margin-right: 100px;
	}

	.systems-list {
		overflow-y: auto;
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		border-right: 4px solid rgba(0,0,0,.15);
		border-left: 1px solid rgba(255,255,255, .125);
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.systems-list-item {
    display: flex;
		align-content: center;
		padding: .5rem;
		padding-left: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
		background: #1d2f41;
		border-bottom: 2px solid rgba(12, 21, 29, .5);
	}
	.systems-list-item:hover {
		background-color: rgba(0, 68, 107, .5);
		cursor: pointer;
	}
	
	.systems-list-item[selected] {
    background-color: var(--treeSelectedBackgroundColor, rgb(0, 68, 107));
    box-shadow: inset var(--selectedBorderWidth, 5px) 0 var(--treeSelectedAccentColor, rgb(77, 172, 255));
    color: var(--treeSelectedTextColor, rgb(255, 255, 255));
}	

.systems-list-item .rux-status {
	font-size: .9rem;
	padding: 0 .5rem 0 0;
}
.subsystem-diagram {
	background: rgb(26, 40, 56) linear-gradient(
		180deg,
		var(--colorTertiaryDarken4, rgb(8, 13, 18)) -30%, 
		var(--colorTertiaryDarken2, rgb(24, 38, 53)) 80%, 
		var(--colorTertiaryDarken1, rgb(32, 50, 70)) 120%);
	padding: 2rem;
	display: flex;
	flex-flow: row wrap;
}
.subsystem-diagram_label {
	margin: 0;
}

.model-diagram {
	width: 100%;
	height: 100%;
	display: flex;
}
.model-diagram .line {
	fill: none;
	stroke: #979797;
	stroke-linecap: square;
}
.model-diagram .text {
	font-family: 'Open Sans', 'OpenSans', sans-serif;
	fill: #FFFFFF;
	font-size: 16px;
}
.model-diagram .component__diagram {
	transition: opacity .25s;
	opacity: 0.75;
}
.model-diagram .component {
	pointer-events: all;
	cursor: pointer;
}
.model-diagram .selected-state {
	fill: #FFFFFF;
	transition: opacity .25s;
	opacity: 0;
}
.model-diagram .component:hover .selected-state {
	opacity: .5;
}
.model-diagram .component:hover .component__diagram {
	opacity: .85;
}
.model-diagram .component[data-selected] .selected-state {
	opacity: 1;
}
.model-diagram .component[data-selected] .component__diagram {
	opacity: .95;
}




